## Python Basic Programming Exercises

# Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
4

# Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [1]:
num=int(input("enter number "))
if num%2!=0:
    print("number is odd")
else:
    print("number is even")

enter number 5
number is odd

# Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [188]:
num=int(input("enter number"))
for i in range(1,10+1):
    j=i*num      
    print(i,"*",num,"=",j)

enter number10
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

# Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [113]:
num=2000
num1=3200
for i in range(2000,3200):                          
        if i%7==0:                                  
            #print(i)
            if i%5==0:                             
                continue                             
            print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

# Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [109]:
a=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
num=0
st=0
flo=0
bo=0
oth=0
for i in a:
    k=type(i)
    if k is int:
        #print(k," is number")
        num=num+1
    elif k is str:
        #print(k,"is string" )
        st=st+1        
    elif k is float:
        #print(k,"is float")
        flo=flo+1
    elif k is bool:
        #print(k ,"is bool")
        bo=bo+1
        continue
    else:
        #print(k,"is other")
        oth=oth+1
Total=num+st+flo+bo+oth
print("number:",num,"string:",st,"Float:",flo,"bool:",bo,"other:",oth,"=",Total)

number: 5 string: 4 Float: 1 bool: 1 other: 1 = 12

# Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [25]:
a=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
c=[]
for i in a:
    #print(i)
    l=type(i)
    if l is int:
        print(i,"is number") 
        
        continue

2 is number
3 is number
1 is number
3 is number
7 is number

# #Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [71]:
a=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
b=[]
for i in a:
    k=type(i)
    if k is str:
        b.append(i)
print("-".join(b))

Py-10-SQL-John


# Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
#Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [24]:
#list1=input("enter list value :")
a=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
t=[]
for i in a:
    #print(i)
    k=type(i)
    if k is int:
        t.append(i)          
        print(k,"is number",i)  
print(t,end= " = ")
print("sum of all numbers value :",sum(t))

<class 'int'> is number 2
<class 'int'> is number 3
<class 'int'> is number 1
<class 'int'> is number 3
<class 'int'> is number 7
[2, 3, 1, 3, 7] = sum of all numbers value : 16


# Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [61]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

li_1=list(filter(lambda li : li % 2 == 0,li))
li_1

[22, 54, 62]

# Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [72]:
li=[1,2,3,4,5,6,7,8,9]
l2=[]
for i in li:
    #print(i)
    l2.append(i)

s=sum(l2)
mi=min(l2)
ma=max(l2)
k=len(l2)
m=s/k
print("sum of value in list:",s," number of value in list(count):",k,"min value:",mi,"max value:",ma,"mean value:",m )

sum of value in list: 45  number of value in list(count): 9 min value: 1 max value: 9 mean value: 5.0

# Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [349]:
def sh(shape,**kwargs):
 
        if shape=='c':
            return 'cirlce:',kwargs['side']**3.14
    
        elif shape=='r':
            width=int(input("enter width :"))
            return 'rectangle:',kwargs['side']*width
       
        elif shape=='s':
            return 'square:',kwargs['side']**2
        else:
            print("Please enter valid 'shape' !")


sh(str(input("enter given  valid shape  : c for circle, r for rectangle ,s for square : ")),side=int(input("enter value : ")) )

enter given  valid shape  : c for circle, r for rectangle ,s for square : r
enter value : 5
enter width :7

('rectangle:', 35)

# Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [362]:
m=[]
li_1=[]
li_2=[]
def func(l1,l2):
    for i in l1:
        if i in l2:
            m.append(i)
            #print(i)
    for i in l2:
        if i in m:
            continue
        else:
            li_1.append(i)
        #print(i)
    for i in l1:
        if i in m:
            continue
        else:
            li_2.append(i)
            
        
            
        #print(i)
        #print(l1)
    #print(l1,l2)

func(l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December'],
l2 = ['January', 'February', 'April', 'June', 'October', 'December'])
m_dict={"matched":m,"Only in l1":li_2,"Only in l2":li_1}
 

print(m_dict)

{'matched': ['January', 'February', 'June', 'December'], 'Only in l1': ['March', 'May', 'September'], 'Only in l2': ['April', 'October']}

# Q13: write a UDF to check if a number is prime or not.

In [418]:

"""pri=[45,6,7,76,53,3,99,66,39,48,54,38,85,11,65,]
for i in pri:
   # print(i)
    if i%2==0:
        continue
    elif i%3==0:
        continue
    elif i%5==0:
        continue
    else:
        print(i,": is prime Number")
        """
        #or

li=int(input("enter number :"))
if li>1:
    for j in range(2,int(li//2)+1):
        if (li%j)==0:
            print("is not prime")
            break
    else:
        print(li,"prime")
else:
    print(li,"is not prime")

enter number :55
is not prime

# Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [491]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
        print(i,"fact is =",f)
    return f


x=int(input("enter number :"))
result=fact(x)
print(x ,"factorial of a given numbers :",result)

enter number :8
1 fact is = 1
2 fact is = 2
3 fact is = 6
4 fact is = 24
5 fact is = 120
6 fact is = 720
7 fact is = 5040
8 fact is = 40320
8 factorial of a given numbers : 40320

# Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [652]:
n=int(input("enter number" ))
for i in range(1,n+1):
    j=i*i
    k=(i,j) 
    #print(k)
    #print(type(k))
    
    def Convert(tup, di):
        di = dict(tup)
        return di
    
    tups = [k]
    print (Convert(tups, dictionary))

enter number8
{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}

# Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [575]:
n= [34,67,55,33,12,98]
j=[]
for i in n:    
    j.append(str(i))
print(j,tuple(j))

['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

# Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [1]:
i = input("Input comma separated sequence of words")

j = [j for j in i.split( )]
#print(type(j))
list(j)
set(j)
print(",".join(sorted(j)))

Input comma separated sequence of wordswithout hello bag world
bag,hello,without,world

# Q18. Write a program that accepts a sequence of whitespace separated words 
 as input and prints the words after removing all duplicate words and sorting them alphanumerically.
 Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
 Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [14]:
j = input("Input comma separated sequence of words :")
k = j.split()

l=[]
rl=[]
for i in k:
    #print(i)
    if i not in l:
        l.append(i)
    else:
        
        rl.append(i)
l.sort()
print(' '.join(l)," *removed duplicate word :",rl)

Input comma separated sequence of words :hello world and practice makes perfect and hello world again
again and hello makes perfect practice world  *removed duplicate word : ['and', 'hello', 'world']

# Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [643]:
S="Hello World!"
count1=0
lo=[]
count2=0
up=[]
for i in S:
    if(i.islower()):
            count1=count1+1
            lo.append(i)
    elif(i.isupper()):
            count2=count2+1
            up.append(i)
print(lo,"total  LOWER CASE : ",count1)
print(up,"Total  UPPER CASE : ",count2)

['e', 'l', 'l', 'o', 'o', 'r', 'l', 'd'] total  LOWER CASE :  8
['H', 'W'] Total  UPPER CASE :  2

# Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [642]:
a= input("")[::-1]
print(a)

abcd123
321dcba